@font-face {
  font-family: Raleway;
  src: url('./assets/Raleway-VariableFont_wght.ttf');
}

html {
  font-family: Raleway, sans-serif;
}

body {
  background-image: url('./assets/page-bg.png');
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* home page styles */
.home-page-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 50px auto;
  transition: all 0.4s ease;
}

@media (max-width: 414px) {
  .home-page-container {
    width: 90%;
    margin-top: 0;
  }
  .home-page-container h2 {
    margin-bottom: 0;
  }
}

/* shop page styles */
.shop-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 30%;
  margin: 0 auto;
  transform: rotate(-2deg);
}

.shop-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  justify-items: center;
}
@media (max-width: 768px) {
  .shop-page-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 414px) {
  .shop-header {
    width: 70%;
    margin-top: 20px;
  }
  .shop-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 180px;
  }
}
/* Item Componenet styles */
.item-container {
  opacity: 0;
  transition: all 0.4s ease;
}

.added-notification {
  position: relative;
  top: 200px;
  left: 30%;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 5px;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 0.2s ease;
}

.item-title {
  position: relative;
  width: 80%;
  height: 30px;
  top: 60px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.item-info {
  position: relative;
  bottom: 100px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.btn {
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover,
.nav-link:hover,
.cart-link:hover {
  background-color: rgb(182, 49, 49);
  color: white;
}

@media (max-width: 414px) {
  .item-container {
    height: 400px;
    width: 80%;
    margin: 0 auto;
  }

  .item-title {
    font-size: 18px;
  }
}

/* nav styles */

li {
  list-style: none;
  list-style-type: none;
}

.cart-number {
  background-color: rgb(182, 49, 49);
  padding: 0 5px;
}

.nav-link,
.cart-link {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 4px 10px;
}

.nav-link:visited,
.cart-link:visited {
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.nav-container-left {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.nav-container-right {
  padding-right: 40px;
}
@media (max-width: 768px) {
  .nav-container {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .nav-link {
    margin-right: 4px;
  }
}

@media (max-width: 414px) {
  .nav-container {
    justify-content: space-evenly;
    width: 100%;
  }
  .nav-container-left {
    justify-content: space-evenly;
  }
  .nav-container-right {
    text-align: right;
  }
  .nav-container-left,
  .nav-container-right {
    width: 50%;
  }
  .nav-link {
    margin-right: 4px;
  }
  .nav-link,
  .cart-link {
    font-size: 20px;
  }
}

/* Cart page */
.cart-page-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-title {
  position: relative;
  width: fit-content;
  height: 30px;
  top: 30px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 10px;
}

.cart-item-info {
  display: flex;
  height: fit-content;
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.count-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

.count-container button {
  cursor: pointer;
  background-color: rgb(182, 49, 49);
  padding: 4px;
  color: white;
  border: none;
}

.total {
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 414px) {
  .cart-page-container {
    width: 90%;
  }
  .cart-page-container h2 {
    margin: 0;
  }
  .cart-item-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-item-title {
    font-size: 20px;
  }
}

/* checkout modal */
.modal-container {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: all 0.3s ease;
}

.modal-container-open {
  pointer-events: all;
  opacity: 1;
}

.modal {
  width: 30%;
  background-color: rgb(182, 49, 49);
  color: white;
  padding: 100px;
  transform: translateY(100%);
  transition: all 0.4s ease;
}

.modal-open {
  transform: translateY(0);
}

.modal h2 {
  font-size: 3rem;
}
.modal p {
  font-size: 2rem;
}

@media (max-width: 414px) {
  .modal {
    width: 80%;
  }
}

/* Footer */

.footer {
  margin-top: auto;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

/* transitions */

.fade-in {
  opacity: 1;
}

.show-notification {
  transform: translateX(0);
  opacity: 1;
}
